.about-hero {
  margin-top: 70px;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../images/about-us/about-hero.png") no-repeat center;
  background-size: cover;
}

.count-box {
  background: url("../../images/numbers.png") no-repeat center;
  background-size: cover;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  color: #fff;
  row-gap: 10px;
  padding: 20px;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .count-box {
    /* width: 70%; */
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .count-box > div {
    /* padding: 0 100px !important; */
  }
  .count-box > div:nth-of-type(2) {
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.count-box > div {
  width: 230px;
  /* padding: 10px 50px; */
  text-align: center;
  display: inline-block;
  color: #fff;
}

@media (min-width: 1024px) {
  .count-box > div {
    width: 333px;
  }
}

.count-box > div p {
  color: #fff;
}

.count-box > div:nth-of-type(2) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.values-cards {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 1024px) {
  .values-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.vcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 40px 85px;
  background: url("../../images/card-bg.png") no-repeat center;
  background-size: cover;
}

#service {
  background: url("../../images/about-us/bg-service.png") no-repeat;
  background-size: contain;
  margin-top: 100px;
}

.service-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .service-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 50px;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-wrap > div {
  width: 100%;
}

@media (min-width: 1024px) {
  .info-wrap > div {
    width: 70%;
  }
}

.info-wrap input {
  display: none;
}

.info-wrap label {
  cursor: pointer;
}

.info-wrap article {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -webkit-transition: height 0.3s ease-in-out,-webkit-box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,-webkit-box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear,-webkit-box-shadow 0.6s linear;
}

.info-wrap article p {
  margin-top: 20px;
}

.info-wrap input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -webkit-transition: height 0.5s ease-in-out,-webkit-box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,-webkit-box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear,-webkit-box-shadow 0.1s linear;
}

.info-wrap input:checked ~ article.ac-small {
  height: auto;
}

.content-wrap {
  width: 100%;
}

.content-wrap:nth-of-type(1)::before {
  content: '';
  border-left: 1px dashed #D0D5DF;
  display: block;
  position: absolute;
  inset: 0;
  margin-left: 40px;
  z-index: -1;
  height: 50%;
}

@media (min-width: 1024px) {
  .content-wrap:nth-of-type(1)::before {
    height: 60%;
    margin: auto 0 auto 40px;
  }
}

@media (min-width: 1024px) {
  .content-wrap {
    width: 50%;
  }
}

#team {
  background: url("../../images/about-us/team-bg.png") no-repeat center;
  background-size: cover;
  margin-top: 100px;
  padding: 5% 0;
  text-align: center;
  position: relative;
}

.count-team {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .count-team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.count-team > div {
  padding: 20px 90px;
  text-align: center;
}

.count-team > div:nth-of-type(1) {
  border-bottom: 1px solid #D2CBFF;
}

.count-team > div:nth-of-type(2) {
  border-bottom: 1px solid #D2CBFF;
}

.count-team > div:nth-of-type(3) {
  border-bottom: 1px solid #D2CBFF;
}

@media (min-width: 768px) {
  .count-team > div:nth-of-type(1) {
    border-right: 1px solid rgba(77, 137, 255, 0.4);
  }
  .count-team > div:nth-last-of-type(1) {
    border-left: 1px solid rgba(77, 137, 255, 0.4);
  }
}

@media (min-width: 1024px) {
  .count-team > div {
    padding: 0 50px;
  }
  .count-team > div:nth-of-type(1) {
    border-right: unset;
    border-bottom: unset;
  }
  .count-team > div:nth-last-of-type(1) {
    border-left: unset;
  }
  .count-team > div:nth-of-type(2) {
    border-bottom: unset;
    border-left: 1px solid rgba(77, 137, 255, 0.4);
  }
  .count-team > div:nth-of-type(3) {
    border-bottom: unset;
    border-left: 1px solid rgba(77, 137, 255, 0.4);
    border-right: 1px solid rgba(77, 137, 255, 0.4);
  }
}

.lonely {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lonely-right {
  text-align: center;
}

@media (min-width: 768px) {
  .lonely-right {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .lonely {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .lonely {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .buttons-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.buttons-wrap .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=about-us.css.map */