@import "../variable";


.blog-background {
    background: url("../../images/blogs/bg-blog.png") no-repeat center;
    background-size: contain;
}

.blog-hero {
    margin-top: 80px;
    padding: 5% 0;
    text-align: center;
}

.select-wrap {
    border-bottom: 4px solid #ebeff8;
}

.select-news {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;
    
    @media (min-width: #{$laptop}) {
        align-items: center;
        flex-direction: row;
      }
    
}

.news-wrap {
    display: flex;
    align-items: center;
    gap: 60px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        display: none;
      }
}

.search-news {
    
    min-width: 360px;
      background: #ebeff8;
      border-radius: 8px;
      padding: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      
      & input {
        margin-bottom: 0;
      }
    
      @media (min-width: #{$laptop}) {
        margin-bottom: 0;
      }
}

// const SearchIcon = styled(BiSearch)``

.blog-wrap {
    margin-bottom: 60px;
}