.order-hero {
  background: url("../../images/hero-bg.png") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  padding: 40px 0;
  text-align: center;
}

.progress-bar {
  margin: 60px auto 20px auto;
  /* display: inline-block; */
}

@media (min-width: 1024px) {
  .progress-bar {
    width: 780px;
  }
}

.progress-back {
  background: url("../../images/progress.png") no-repeat center;
  height: 12px;
  border-radius: 10px;
}

.progress-front {
  background: linear-gradient(53.42deg, #dd7bff 3.84%, #4d89ff 96.16%);
  border-radius: 10px;
  width: 30%;
  height: 100%;
  position: relative;
}

.progress-front::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 20px;
  height: 20px;
  background: linear-gradient(53.42deg, #dd7bff 3.84%, #4d89ff 96.16%);
  border-radius: 50px;
}

.progress-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.badge h3 {
  margin: 0;
}

.order-col {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 40px;
}

.order-col input,
.order-col select,
.order-col option {
  margin-bottom: 0 !important;
}

@media (min-width: 1024px) {
  .order-col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.order-col .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .order-col .items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.order-col .items .item-box {
  border-radius: 20px;
  border: 1px solid #dabcff;
  padding: 15px 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.order-col .items .item-box img {
  margin: 25px 0 20px 0;
}

.order-col .items .item-box .heading-3 {
  margin-bottom: 0;
}

.gift {
  border: 1px solid #dabcff;
  /* border-image-source: linear-gradient(89.26deg, #DABCFF 0.57%, #BFB5FF 100.29%) 1; */
  /* padding: 0 20px 20px 20px; */
  border-radius: 20px;
}

.gift .heading-3 {
  margin-bottom: 0;
}

.gift-about {
  background: #e7ecff;
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.gift-body {
  padding: 20px;
}

.headline {
  color: #5479e5;
  margin-bottom: 10px;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .amount {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.amount-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.amount-inputs .select-wrap::after {
  top: 12px;
}

.amount-inputs input {
  width: 100px;
}

.amount-inputs select {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .amount-inputs select {
    width: 140px;
  }
}

.history {
  margin-top: 40px;
}

.win,
.loose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 40px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  color: #169649;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #169649, #169649); */
}

.info h3 {
  margin-bottom: 0;
}

.info span {
  color: #169649;
}

.win {
  background: #e0fff2;
}

.loose {
  background: #fff1f0;
}

.loose-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  color: #f31e1e;
}

.loose-info h3 {
  margin-bottom: 0;
}

.loose-info span {
  color: #f31e1e;
}

.chat-wrap {
  margin-top: 40px;
}

.chat-box {
  border: 1px solid #dabcff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /*border-image: linear-gradient(89.26deg, #DABCFF 0.57%, #BFB5FF 100.29%) 1;
    border-radius: 20px;
    */
  min-height: 500px;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.chat-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.chat-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 20px;
}

.admin-message-details {
  background: #eff1f5;
  border-radius: 8px 0px 8px 8px;
  padding: 12px 24px;
  display: block;
}

.profile {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
}

.message {
  border-radius: 0px 8px 8px 8px;
  background: #d6e4ff;
  padding: 12px 24px;
  display: block;
}

.chat-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  background: #eff1f5;
  padding: 2px;
  margin-top: 40px;
}

#help {
  background: url("../../images/order/help-bg.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px;
  margin-top: 80px;
}

@media (min-width: 768px) {
  #help {
    border-radius: 20px;
    margin: 80px auto 60px auto;
    padding: 80px 0;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #help {
    width: 80%;
  }
}

.help-top {
  margin-bottom: 40px;
}
/*# sourceMappingURL=order.css.map */