@import "variable";

// BUTTON

button {
  font-family: inherit;
  background: none;
  border: none;
}

.btn {
  border-radius: 12px;
  padding: 16px 26px;
  display: flex;
  font-size: 1em;
  line-height: 19px;
  font-family: #{$font};
  cursor: pointer;
  align-items: center;
  column-gap: 10px;
  font-weight: 700;
  transition: 0.3s ease-in;
  position: relative;
  white-space: nowrap;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   inset: 0;
  //   background: linear-gradient(94.43deg, rgba(255, 255, 255, 0.6) 2.5%, rgba(255, 255, 255, 0) 62.83%, rgba(255, 255, 255, 0.4) 98.5%);
  //   padding: 1px;
  //   z-index: -1;
  //   border-radius: 12px;
  //   -webkit-border-radius: 12px;
  //   -moz-border-radius: 12px;
  //   -ms-border-radius: 12px;
  //   -o-border-radius: 12px;
  // }

  &-primary {
    background: #{$primaryDefault};
    color: #fff;
    border-radius: 12px;

    &:hover {
      background: #{$primaryHover};
    }
  }

  &-secondary {
    border-radius: 10px;
    /* padding: 1px; */
    box-sizing: content-box;
    color: #5479e5;
    border: 1px solid #5479e5;
    background: transparent;

    &:hover {
      background: #{$secondaryHover};
    }
  }

  &-wrap {
    margin-top: 30px;
    display: block;
  }

  &-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &-mobo {
    justify-content: center;
    width: 100%;
  }
}
