@import "variable";

// BUTTON

button {
  font-family: inherit;
  background: none;
  border: none;
}

.btn {
  border-radius: 12px;
  padding: 16px 26px;
  display: flex;
  font-size: 1em;
  line-height: 19px;
  font-family: #{$font};
  cursor: pointer;
  align-items: center;
  column-gap: 10px;
  font-weight: 700;
  transition: 0.3s ease-in;
  position: relative;
  white-space: nowrap;

  &-primary {
    color: #fff;
    border-radius: 12px;
    position: relative;
    background: #{$primaryDefault};

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 1px solid hsla(0, 0%, 100%, 0.4);
      // z-index: -1;
      border-radius: 11px;
      -webkit-border-radius: 11px;
      -moz-border-radius: 11px;
      -ms-border-radius: 11px;
      -o-border-radius: 11px;
    }

    &:hover {
      background: #{$primaryHover};
    }

    &:active {
      background-color: #3A67E8;
    }

    &:disabled {
      background: #A7B0CB;
    }
  }

  &-secondary {
    border-radius: 10px;
    /* padding: 1px; */
    box-sizing: content-box;
    color: #5479e5;
    border: 1px solid #5479e5;
    background: transparent;

    &:hover {
      background: #{$secondaryHover};
    }

    &:active {
      border-color: #{$primaryPressed};
      color: #{$primaryPressed};
    }

    &:disabled {
      border-color: #A7B0CB;
      color: #A7B0CB;
    }
  }

  &-wrap {
    margin-top: 30px;
    display: block;
  }

  &-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &-mobo {
    justify-content: center;
    width: 100%;

    @media (min-width: #{$tablet}) {
      width: auto;
    }
  }
}
