@import "variable";

// TYPOGRAPHY

.center {
  text-align: center;
}

.tag {
  padding: 3px 8px;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 19px;
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: #{$font};
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  &.special {
    background: #{$special};
  }
  &.special-offer {
    background: #{$specialOffer};
  }
  &.most {
    background: #{$most};
  }
  &.main {
    background: #{$tag};
    color: #{$colorTag};
  }
  &.hot {
    background: #{$hot};
  }
}

.dot {
  border: 3px dashed #5479e5;
  border-radius: 8px;
  background: linear-gradient(89.67deg, #5479e6 0.26%, #7094ea 99.71%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // margin-right: 10px;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;

  // &::after {
  //   content: "";
  //   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23664FF1FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  //   border-radius: 8px;
  //   position: absolute;
  //   inset: -2px;
  // }
}

.blueText {
  background: #{$primaryDefault};
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grey {
  color: hsla(221, 29%, 47%, 1);
}

.heroTitle {
  font-size: 3em;
  line-height: 64px;
  font-weight: 800;

  @media (min-width: #{$tablet}) {
    font-size: 3.5em;
    line-height: 78px;
  }
}

.heading {
  &-1 {
    font-weight: 700;
    font-size: 1.875em;
    line-height: 64px;
  }

  &-2 {
    font-weight: 800;
    font-size: 2.375em;
    line-height: 53px;
    margin-bottom: 10px;
  }

  &-3 {
    font-weight: 700;
    font-size: 1.375em;
    line-height: 33px;
    margin-bottom: 10px;
  }

  &-4 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 10px;
  }

  &-5 {
    font-weight: 500;
    font-size: 1em;
  }

  &-6 {
    font-weight: 700;
    font-size: 0.85em;
  }

  &-7 {
    font-weight: 700;
    font-size: 0.875em;
    line-height: 19px;
  }

  @media (min-width: #{$tablet}) {
    &-1 {
      font-size: 2.875em;
      line-height: 42px;
    }

    &-1 {
      font-size: 1.5em;
      line-height: 33px;
    }
  }
}

.body {
  &-1 {
    font-weight: 500;
    font-size: 1.1em;
    line-height: 32px;
  }

  &-2 {
    font-weight: 600;
    font-size: 0.85em;
  }

  &-3 {
    font-weight: 500;
    font-size: 1em;
  }

  &-4 {
    font-weight: 500;
    font-size: 0.875em;
  }

  &-5 {
    font-weight: 400;
    font-size: 0.875em;
  }
}

.text-decoration {
  position: relative;

  &-star::after {
    content: url("../images/Burst-pucker-2.svg");
    position: absolute;
    top: 10px;
    margin-left: 20px;
    z-index: -1;
  }

  &-hero::after {
    content: url("../images/Highlight_10.svg");
    position: absolute;
    inset: 50% -10px auto auto;
    // z-index: -1;
  }

  &-review::after {
    content: url("../images/hl-review.svg");
    position: absolute;
    left: 0;
    top: -30%;
    // z-index: -1;
  }

  &-about::after {
    content: url("../images/hl-review.svg");
    position: absolute;
    top: -50%;
    left: 0;
    // z-index: -1;

    @media (min-width: #{$tablet}) {
      left: -60px;
    }
  }

  &-hiring::after {
    content: url("../images/Highlight_10.svg");
    position: absolute;
    // z-index: -1;
  }

  &-right {
    right: 0;
  }
}

.text-medium {
  color: #{$textMedium};
}