// Font

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");

// import

@import "variable";
@import "typography";
@import "button";
@import "home";
@import "container";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  margin: 0;
  font-family: #{$font};
  font-size: 1em;
  line-height: 27px;
  color: #3a445c;
  position: relative;
}
main {
  overflow: hidden;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
input,
textarea {
  font-family: inherit;
}

.section {
  margin-top: 40px;

  @media (min-width: #{$tablet}) {
    margin-top: 60px;
  }

  @media (min-width: #{$laptop}) {
    margin-top: 100px;
  }
}

// Margin

@mixin mt($number, $value) {
  .mt-#{$number} {
    margin-top: #{$value};
  }
}

@mixin mb($number, $value) {
  .mb-#{$number} {
    margin-bottom: #{$value};
  }
}

@include mt("0", "0");
@include mt("1", "10px");
@include mt("2", "20px");
@include mt("4", "40px");
@include mt("6", "60px");

@include mb("1", "10px");
@include mb("2", "20px");
@include mb("4", "40px");

// Input

.input {
  background: #ebeff8;
  border-radius: 6px;
  padding: 13px 16px;
  border: none;
  margin-bottom: 20px;
  font-size: 0.875em;
  font-family: inherit;

  &:focus {
    outline: none;
    border: none;
  }
}

.reviewProd {
  width: auto !important;

  @media (min-width: 1280px) {
    width: fit-content !important;
  }
}

.divider {
  background-color: #d0d5df;
  height: 1px;
  width: 100%;
  margin-top: 40px;
}

.hide {
  display: none;

  @media (min-width: #{$laptop}) {
    display: block;
  }
}

.w-auto {
  width: auto !important;

  @media (min-width: #{$desktop}) {
    width: fit-content !important;
  }
}

input,
textarea,
select {
  font-size: inherit !important;
  font-family: inherit;
}

select {
  font-weight: 600;
  color: #{$textDark};
}

textarea {
  resize: none;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 600;
  color: #{$textDark};
  margin-bottom: 10px;

  &__current {
    position: relative;
    // box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;

    &:focus {
      & + .select-box__list {
        opacity: 1;
        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }

      .select-box__input-text {
        outline: 1px solid #6B7AFF;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: 0.2s ease;
    margin: 0 !important;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 12px 15px;
    border-radius: 12px;
    background-color: #ebeff8;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  &__list {
    margin-top: 13px;
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 0;
    border-radius: 12px;
    list-style: none;
    opacity: 0;
    background: #fff;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0px 4px 30px rgba(50, 50, 50, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    .li:nth-of-type(1) {
      border-radius: 12px 12px 0 0;
      -webkit-border-radius: 12px 12px 0 0;
      -moz-border-radius: 12px 12px 0 0;
      -ms-border-radius: 12px 12px 0 0;
      -o-border-radius: 12px 12px 0 0;
    }

    .li:nth-last-of-type(1) {
      border-radius: 0 0 12px 12px;
      -webkit-border-radius: 0 0 12px 12px;
      -moz-border-radius: 0 0 12px 12px;
      -ms-border-radius: 0 0 12px 12px;
      -o-border-radius: 0 0 12px 12px;
}
  }

  &__option {
    display: block;
    padding: 12px 15px;
    // background-color: #fff;

    &:hover,
    &:focus {
      background-color: #ebeff8;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rating-text {
  display: flex;
  align-items: flex-end;

  .heading-7 {
    margin-bottom: 20px !important;
  }
}

.rating-feedback {
  display: flex;
  column-gap: 14px;
  margin-bottom: 20px;
}

.decoration {
  position: absolute;
  top: -18%;
  left: 0;
  z-index: -1;
}

// NAVBAR

.navbar-product {
  .nav-left {
    @media (min-width: #{$laptopL}) {
      margin-left: 70px;
    }

    @media (min-width: #{$desktop}) {
      column-gap: 50px;
    }
  }
}

.navbar {
  list-style: none;
  display: flex;
  /* width: 100%; */
  box-sizing: border-box;
  position: fixed;
  inset: 0 0 auto 0;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
  margin: 0;
  z-index: 992;
  // overflow-x: auto;
}

.menu-icon {
  display: block;

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

.nav {
  width: 100%;
}

.nav-wrap {
  display: flex;
  align-items: center;
  position: relative;
  /* min-width: 85vw; */

  @media (min-width: #{$tablet}) {
    width: 100%;
    justify-content: space-between;
  }
}

.nav-left {
  display: flex;
  align-items: center;
  column-gap: 20px;

  @media (min-width: #{$tablet}) {
    column-gap: 40px;
  }

  @media (min-width: #{$laptop}) {
    column-gap: 90px;
  }
}

.search-bar {
  background-color: #ebeff8;
  padding: 14px;
  border-radius: 8px;
  align-items: center;
  display: none;

  @media (min-width: #{$laptop}) {
    display: flex;
    // width: 360px;

    input {
      width: 160px;
    }
  }
}

input {
  background: transparent;
  border: none;

  &::placeholder {
    font-family: #{$font};
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.nav-menu {
  position: fixed;
  left: -100%;
  // top: 5rem;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;

  &.active {
    left: 0;
    z-index: 999;
    bottom: 0;
    overflow: scroll;
  }

  @media (min-width: #{$tablet}) {
    display: flex;
    position: static;
    left: unset;
    width: unset;
  }
}

.nav-item {
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;

  #modalBtn {
    color: #fff !important;
    padding: 0 !important;
    text-align: center;
  }

  &.current {
    a {
      font-weight: 700;
    }

    &::before {
      content: "";
    }

    @media (min-width: #{$tablet}) {
      &::before {
        content: "";
        position: absolute;
        display: block;
        inset: -10px 0 auto 0;
        height: 4px;
        background: #{$primaryDefault};
        border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        -moz-border-radius: 0px 0px 4px 4px;
        -ms-border-radius: 0px 0px 4px 4px;
        -o-border-radius: 0px 0px 4px 4px;
      }
    }
  }

  &-header {
    background: url("../images/icons/header-mobo.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #fff;

    h3 {
      margin: 0;
    }

    @media (min-width: #{$tablet}) {
      display: none;
    }
  }

  & > a {
    display: inline-block;
    line-height: 2em;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    color: #3a445c;
    /* Use for semantic approach to style the current link */
    &[aria-current="page"] {
      border-bottom-color: #fff;
    }
  }

  &:first-of-type {
    margin-left: 0;
  }

  @media (min-width: #{$tablet}) {
    padding: 14px;
    // margin: 0 16px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }

  @media (min-width: #{$laptop}) {
    padding: 20px;
  }
}

.profile-btn {
  display: none;
  cursor: pointer;

  @media (min-width: #{$tablet}) {
    display: flex;
  }
}

.btn-order {
  display: none;

  @media (min-width: #{$tablet}) {
    display: flex;
  }
}

.nav-search {
  padding: 12px 32px;
}

.on-mobo {
  display: block;

  .search-bar {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

.on-tablet {
  display: none;

  @media (min-width: #{$tablet}) {
    display: flex;
  }

  @media (min-width: #{$laptop}) {
    display: none;
  }
}

.btn-navbar {
  margin-left: auto;
  // display: inline-block;
  display: inline-flex;
  column-gap: 20px;
  align-items: center;

  @media (min-width: #{$laptop}) {
    column-gap: 50px;
  }

  &-login {
    margin-left: unset;
  }
}

.login {
  display: none;

  @media (min-width: #{$tablet}) {
    display: flex;
  }
}

// NAVBAR LOGIN

.navbar-login {
  .nav-wrap {
    justify-content: space-between;
  }

  .btn-navbar {
    margin-left: unset;
  }
}

// MOBILE NAVBAR

.mobile-menu {
  cursor: pointer;

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

// END NAVBAR

// SIDEBAR

.sidebar {
  width: 100%;
  display: inline-block;
  background: #ebeff8;
  // margin-top: 5%;

  @media (min-width: #{$laptop}) {
    width: 375px;
    position: absolute;
    inset: 0 auto 0 0;
    // margin-top: 2%;
  }

  #dropdownSidebar {
    margin-top: 85px;

    @media (min-width: #{$tablet}) {
      display: block;
    }

    @media (min-width: #{$laptopL}) {
      margin-top: 100px;
    }
  }
}

.game-selection {
  background: url("../images/icons/header-mobo.png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-top: 85px;
  padding: 20px 32px;

  @media (min-width: #{$laptop}) {
    padding: 20px 60px;
    margin-top: 95px;
  }
}

.game-left {
  color: #fff;

  & span {
    color: #fff !important;
  }
}

.categories {
  display: flex;
  column-gap: 10px;
  padding-left: 20px;
  overflow-x: scroll;
  background: #ebeff8;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: #{$laptop}) {
    display: block;
    padding: 20px 50px;
    /* text-align: center; */
  }
}

.category-list {
  list-style: none;
  padding: 20px 10px;
  border-radius: 12px;
  white-space: nowrap;

  .body-2 {
    padding-left: 20px;
  }
}

.link-list {
  background: transparent;
  /* display: flex; */
  color: #5679e7 !important;
  padding: 15px 20px;

  &.active {
    background: #{$primaryDefault};
    color: #fff !important;
    font-weight: 700;
    font-size: 14px;
    // padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}

// SIDEBAR END

// WORK

.work {
  /* width: 100%; */
  display: block;
  padding: 48px 0 0 48px;
  position: relative;
  margin-bottom: -10px;
  background: url("../images/hiring-bg.png") no-repeat center;
  background-size: cover;

  @media (min-width: #{$tablet}) {
    padding: 48px;
  }

  @media (min-width: #{$laptop}) {
    border-radius: 30px;
    padding: 58px;
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: #{$desktop}) {
    width: 50%;
  }
}

.work-title {
  position: relative;

  &::after {
    content: url("../images/Highlight_10.svg");
    /* margin-left: 10px; */
  }
}

.work-img {
  height: 100%;
  border-radius: 30px;

  @media (min-width: #{$tablet}) {
    position: absolute;
    inset: 0 0 0 auto;
    width: 430px;
  }

  @media (min-width: #{$laptop}) {
    width: unset;
  }
}

.work-left {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: #{$tablet}) {
    width: 50%;
  }
}

// WORK END

// BLOG CARD

.blog-head {
  display: flex;
  gap: 90px;
  margin: 40px 0 60px 0;
  flex-direction: column;

  @media (min-width: #{$laptop}) {
    flex-direction: row;
  }
}

.blog-card-wrap {
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog-top {
  position: relative;
  // display: flex;
  width: auto;
}

.tag-wrap {
  position: absolute;
  inset: 20px auto auto 30px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.blog-image {
  border-radius: 20px;
  /* margin-top: 40px; */
  height: 100%;
}

.blog-info {
  color: #fff;
  position: absolute;
  z-index: 2;
  inset: auto 0 0 0;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: space-between;

  & span,
  p {
    color: #fff;
  }
}

.comment {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

// BLOG CARD END

// BREADCRUMB

.bread {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 40px 0;

  span {
    color: #{$primaryPressed};
  }
}

// FOOTER

.footer-wrap {
  background: url("../images/footer-bg.png") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 2;

  @media (min-width: #{$laptop}) {
    margin-top: 100px;
  }
}

.footer-top {
  padding: 5% 0;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: #{$tablet}) {
    flex-direction: row;
  }
}

.footer-left {
  text-align: center;

  @media (min-width: #{$tablet}) {
    text-align: left;
  }
}

.brand-footer {
  // margin-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;

  p {
    display: inline-block;

    @media (min-width: #{$tablet}) {
      display: none;
    }
  }
}

.brand-name {
  text-align: left;
}

.footer-info {
  display: none;

  @media (min-width: #{$tablet}) {
    display: block;
  }
}

.footer-right {
  display: grid;
  column-gap: 50px;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: #{$tablet}) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-menu {
  & > h2 {
    font-weight: 700;
  }

  & > h6 {
    color: #fff;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;

  & > a {
    color: #fff !important;
    margin-bottom: 5px;
  }

  & > a:nth-of-type(1) {
    margin-top: 15px;
  }
}

.email {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: inherit;
  font-weight: 500;
}

.socmed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0fff2;
  padding-bottom: 20px;
  column-gap: 24px;

  @media (min-width: #{$tablet}) {
    gap: 10px;
    justify-content: unset;
  }
}

.socmed-link {
  border: 1px solid;
  border-image-source: linear-gradient(
      146.09deg,
      rgba(255, 255, 255, 0.6) 8.59%,
      rgba(255, 255, 255, 0.2) 46.93%,
      rgba(255, 255, 255, 0.7) 91.34%
    )
    1;
  border-radius: 50px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  @media (min-width: #{$tablet}) {
    width: 32px;
    height: 32px;
  }
}

.footer-bottom {
  background: #{$primaryHover};
  padding: 10px 0;
}

.footer-bottom-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  @media (min-width: #{$tablet}) {
    flex-direction: row;
  }
}

.copyright {
  font-size: 0.85em;
}

.btm-links {
  display: flex;
  column-gap: 20px;
}

.text {
  font-weight: 500;
}

// FOOTER Product
.footer-product {
  width: 100%;

  @media (min-width: 1024px) {
    width: calc(100% - 375px);
    margin-left: 375px;
  }

  .medium-container {
    
    @media (min-width: #{$laptop}) {
      width: 100%;
    }

    @media (min-width: #{$desktop}) {
      width: 85%;
    }
  }
}

// FOOTER END

// LOGIN MODAL

.login-container {
  display: none;
  place-content: center;
  position: fixed;
  z-index: 994;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.login-wrap {
  background: #fff;
  box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  height: fit-content;
  margin-top: 10%;
  position: relative;
  width: 90%;

  @media (min-width: #{$tablet}) {
    max-width: 500px;
    width: unset;
  }

  .input {
    width: 100%;

    &:focus {
      outline: 1px solid hsla(234, 100%, 71%, 1) !important;
    }

    &.success {
      outline-color: hsla(144, 75%, 34%, 1);
    }

    &.error {
      outline-color: hsla(0, 90%, 54%, 1);
      background: hsla(4, 100%, 97%, 1);
    }
  }
}

.x-btn {
  position: absolute;
  inset: 48px 48px auto auto;
  border: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.check {
  display: flex;
  column-gap: 10px;
  align-items: center;

  & input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #6b7aff;
    /* border-image: linear-gradient(89.67deg, #5479E6 0.26%, #6B7AFF 99.71%) 1; */
    border-radius: 4px;
    appearance: none;

    &:checked {
      background-color: #6b7aff;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: url("../images/icons/check-v.svg");
        display: flex;
      }
    }
  }
}

.password {
  display: flex;
  position: relative;

  & input {
    width: 100%;
  }
}

.eye-show {
  position: absolute;
  inset: 10px 17px auto auto;
}

.remember {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.how-do {
  margin-top: 40px;

  & h6 {
    color: var(--text-dark);
  }
}

// LOGIN MODAL END

// CHECKOUT MODAL

.checkout-wrap {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(14px);
  display: none;
  place-content: center;
  overflow: auto;
  z-index: 1002;

  .btn-purchase {
    display: none;

    @media (min-width: #{$laptop}) {
      display: flex;
    }
  }

  .btn-bottom {
    padding: 30px;
    display: block;

    @media (min-width: #{$tablet}) {
      padding: unset;
    }

    input {
      width: 376px;
    }

    .coupon {
      display: flex;
      margin-bottom: 20px;
    }

    @media (min-width: #{$laptop}) {
      display: none;
    }
  }
}

.checkout-box {
  background: #fff;
  box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  height: fit-content;
  // padding: 30px;
  position: relative;
  width: 100%;

  .header {
    background: url("../images/icons/header-mobo.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 30px;

    .x-btn {
      position: static;
    }

    @media (min-width: #{$tablet}) {
      display: none;
    }
  }

  .heading-2,
  button.x-btn {
    display: none;

    @media (min-width: #{$tablet}) {
      display: block;
    }
  }

  .coupon {
    display: none;

    @media (min-width: #{$laptop}) {
      display: flex;
    }
  }

  @media (min-width: #{$tablet}) {
    margin-top: 20px;
    border-radius: 30px;
    width: 90%;
    padding: 30px 85px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: #{$laptop}) {
    margin-top: 20px;
    border-radius: 30px;
    // max-width: 70%;
    padding: 30px 85px;
    width: 1180px;
  }
}

.checkout-content {
  display: flex;
  gap: 70px;
  margin: 20px 0 10px 0;
  flex-direction: column-reverse;
  padding: 30px;

  @media (min-width: #{$tablet}) {
    padding: unset;
  }

  @media (min-width: #{$laptop}) {
    flex-direction: row;
  }
}

.left {
  text-align: left;

  @media (min-width: #{$laptop}) {
    width: 50%;
  }

  .items {
    flex-direction: column;

    @media (min-width: #{$tablet}) {
      flex-direction: row;
    }
  }
}

.personal {
  display: flex;
  flex-direction: column;

  input:focus {
    outline: 1px solid hsla(234, 100%, 71%, 1);
  }
}

.method {
  border: 2px solid rgba(208, 213, 223, 1);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  color: #d0d5df;

  &.active {
    border-color: hsla(225, 74%, 62%, 1);

    p {
      background: #{$primaryDefault};
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.method-img {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.order-sum {
  .items {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @media (min-width: #{$laptop}) {
      flex-wrap: nowrap;
    }

    .item-box {
      // background: #{$borderGradient};
      border-radius: 20px;
      border: 1px solid #dabcff;
      padding: 15px 50px;
      text-align: center;

      img {
        margin: 25px 0 20px 0;
      }
    }
  }
}

table {
  margin-top: 20px;
  width: 100%;
}

tr {
  margin-bottom: 10px;
}

td {
  width: 35%;
}

.td-result {
  color: #{$primaryPressed};
  width: fit-content;
}

.coupon {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  & input {
    margin-bottom: 0;
    width: 376px;
  }
}

.checks {
  margin: 20px 0;
}

.check {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

// Order

.rank-up-mobo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  box-shadow: 0px 4px 30px 0px #3232321a;
  background: #fff;
  height: fit-content;
  width: 100%;
  overflow: scroll;
  z-index: 999;

  @media (min-width: #{$tablet}) {
    width: unset;
    min-width: 300px;
  }

  @media (min-width: #{$laptop}) {
    position: fixed;
    z-index: 99;
    bottom: 0;
    margin-left: 24%;
  }

  @media (min-width: #{$laptopL}) {
    bottom: unset;
    margin-left: 45%;
  }

  @media (min-width: #{$desktop}) {
    margin-left: 50%;
  }

  &.active {
    left: 0;
  }

  .header {
    background: url("../images/slider/bg-basket.png") no-repeat;
    background-size: cover;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .basket-body {
    padding: 20px;
    background: url("../images/slider/rank-bg.svg") no-repeat bottom;
    background-size: cover;
  }

  .bb-info {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebeff8;

    & h6 {
      color: #{$textDark};
    }
  }

  .bb-title {
    margin-bottom: 6px;
    color: #{$primaryPressed};
  }

  .bb-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
  }
}

// DROPDOWN

#dropdownSidebar .dropdown-header {
  background: url("../images/slider/sidebar-bg.png") no-repeat center;
  background-size: cover;
}

#dropdown .dropdown-header {
  background: url("../images/icons/header-mobo.png") no-repeat center;
  background-size: cover;
}

#dropdown,
#dropdownSidebar {
  margin-top: 60px;

  .dropdown {
    position: relative;

    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px 20px 80px;
      color: #fff;
    }

    &-body {
      width: 310px;
      border-radius: 20px;
      margin-top: 20px;
      position: absolute;
      right: 20px;
      z-index: 787;
      background: #fff;
      display: none;

      &.open {
        display: block;
      }

      &::before {
        content: url("../images/icons/arrow-up-dropdown.svg");
        display: block;
        right: 10px;
        position: absolute;
        top: -15px;
        z-index: -1;
      }

      &-top {
        background: #{$primaryDefault};
        color: #fff;
        padding: 15px 20px;
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
      }

      li {
        padding: 15px 20px;

        &:not(:nth-last-of-type(1)) {
          border-bottom: 1px solid hsla(220, 100%, 92%, 1);
        }

        p {
          margin: 0;
        }
      }
    }
  }

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

// DROPDOWN END

// SELECT

.select-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 52px;
  font-weight: 600;
  color: #{$textDark};
  font-size: 16px;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;
    left: -99999px;
  }

  input:checked + label {
    order: 1;
    z-index: 2;
    cursor: pointer;
    background: hsla(222, 48%, 95%, 1);
    border-top: none;
    position: relative;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  input:checked + label:after {
    content: url("../images/icons/down-arrow.svg");
    position: absolute;
    right: 15px;
    // top:calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
  }

  input:checked + label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: "";
    // background:#666;
  }
}

.option {
  // padding:0 30px 0 10px;
  padding: 0 16px;
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #fff;
  border-top: 1px solid hsla(222, 48%, 95%, 1);
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
}

.option:hover {
  background: hsla(222, 48%, 95%, 1);
}

.select-container:focus .option {
  position: relative;
  pointer-events: all;
}

// SELECT END
