// Font

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");

// import

@import "variable";
@import "typography";
@import "button";
@import "home";
@import "container";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  margin: 0;
  font-family: #{$font};
  font-size: 1em;
  line-height: 27px;
  color: #3a445c;
  position: relative;
}
main {
  overflow: hidden;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
input,
textarea {
  font-family: inherit;
}
.section {
  margin-top: 60px;

  @media (min-width: #{$laptop}) {
    margin-top: 100px;
  }
}

// Margin

@mixin mt($number, $value) {
  .mt-#{$number} {
    margin-top: #{$value};
  }
}

@mixin mb($number, $value) {
  .mb-#{$number} {
    margin-bottom: #{$value};
  }
}

@include mt("1", "10px");
@include mt("2", "20px");
@include mt("4", "40px");

@include mb("1", "10px");
@include mb("2", "20px");
@include mb("4", "40px");

// Input

.input {
  background: #ebeff8;
  border-radius: 6px;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 0.875em;
  font-family: inherit;

  &:focus {
    outline: none;
    border: none;
  }
}

.container-fluid {
  padding: 0 40px;

  @media (min-width: 1024px) {
    padding: 0 80px;
  }

  @media (min-width: 1536px) {
    width: inherit;
  }
}

.reviewProd {
  width: auto !important;

  @media (min-width: 1280px) {
    width: fit-content !important;
  }
}

.divider {
  background-color: #d0d5df;
  height: 1px;
  width: 100%;
  margin-top: 40px;
}

.hide {
  display: none;

  @media (min-width: #{$laptop}) {
    display: block;
  }
}

.w-auto {
  width: auto !important;

  @media (min-width: #{$desktop}) {
    width: fit-content !important;
  }
}

input,
textarea,
select {
  font-size: inherit !important;
  font-family: inherit;
}

.select-wrap {
  float: left;
  width: 100%;
  position: relative;

  &::after {
    content: url("../images/icons/down-arrow.svg");
    right: 11px;
    top: 6px;
    // height: 34px;
    // padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rating-text {
  display: flex;
  align-items: flex-end;

  .heading-7 {
    margin-bottom: 20px !important;
  }
}

.rating-feedback {
  display: flex;
  column-gap: 14px;
  margin-bottom: 20px;
}

.decoration {
  position: absolute;
  top: -35%;
  left: 0;
  z-index: -1;
}

// NAVBAR

.navbar {
  list-style: none;
  display: flex;
  /* width: 100%; */
  box-sizing: border-box;
  position: fixed;
  inset: 0 0 auto 0;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
  margin: 0;
  z-index: 992;
  // overflow-x: auto;
}

.menu-icon {
  display: block;

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

.nav {
  width: 100%;
}

.nav-wrap {
  display: flex;
  align-items: center;
  position: relative;
  /* min-width: 85vw; */

  @media (min-width: #{$tablet}) {
    width: 100%;
    justify-content: space-between;
  }
}

.nav-left {
  display: flex;
  align-items: center;
  column-gap: 20px;

  @media (min-width: #{$tablet}) {
    column-gap: 90px;
  }
}

.search-bar {
  background-color: #ebeff8;
  padding: 14px;
  border-radius: 8px;
  align-items: center;
  display: none;

  @media (min-width: #{$laptop}) {
    display: flex;
    width: 360px;

    input {
      width: 160px;
    }
  }
}

input {
  background: transparent;
  border: none;

  &::placeholder {
    font-family: #{$font};
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.nav-menu {
  position: fixed;
  left: -100%;
  // top: 5rem;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;

  &.active {
    left: 0;
    z-index: 999;
  }

  @media (min-width: #{$tablet}) {
    display: flex;
    position: relative;
    left: auto;
  }
}

.nav-item {
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;

  &.current {

    a {
      font-weight: 700;
    }

    &::before {
      content: "as";
      position: absolute;
      display: block;
      inset: -10px 0 auto 0;
      height: 4px;
      background: #{$primaryDefault};
      border-radius: 0px 0px 4px 4px;
      -webkit-border-radius: 0px 0px 4px 4px;
      -moz-border-radius: 0px 0px 4px 4px;
      -ms-border-radius: 0px 0px 4px 4px;
      -o-border-radius: 0px 0px 4px 4px;
    }
  }

  &-header {
    background: url("../images/icons/header-mobo.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #fff;

    h3 {
      margin: 0;
    }

    @media (min-width: #{$tablet}) {
      display: none;
    }
  }

  & > a {
    display: inline-block;
    line-height: 2em;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    color: #3a445c;
    /* Use for semantic approach to style the current link */
    &[aria-current="page"] {
      border-bottom-color: #fff;
    }
  }

  &:first-of-type {
    margin-left: 0;
  }

  // &:last-of-type {
  //   margin-right: 0;

  //   &:after {
  //     content: "";
  //     display: inline-block;
  //     width: 24px;
  //   }
  // }

  @media (min-width: #{$tablet}) {
    padding: 20px;
    // margin: 0 16px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
}

.nav-search {
  padding: 12px 32px;
}

.on-mobo {
  display: block;

  .search-bar {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

.btn-navbar {
  margin-left: auto;
  // display: inline-block;
  display: inline-flex;
  column-gap: 50px;
  align-items: center;
}

.login {
  display: none;

  @media (min-width: #{$tablet}) {
    display: flex;
  }
}

// const OrderIcon = styled.div`
//   display: block;

//   @media (min-width: #{$tablet}) {
//     display: none;
//   }
// `

// MOBILE NAVBAR

.mobile-menu {
  cursor: pointer;

  @media (min-width: #{$tablet}) {
    display: none;
  }
}

// END NAVBAR

// SIDEBAR

.sidebar {
  width: 100%;
  display: inline-block;
  background: #ebeff8;
  // margin-top: 5%;

  @media (min-width: #{$laptop}) {
    width: 375px;
    position: absolute;
    inset: 0 auto 0 0;
    // margin-top: 2%;
  }
}

.game-selection {
  background: url("../images/icons/header-mobo.png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-top: 95px;
  padding: 20px 32px;

  @media (min-width: #{$laptop}) {
    padding: 20px 60px;
  }
}

.game-left {
  color: #fff;

  & span {
    color: #fff !important;
  }
}

.categories {
  display: flex;
  column-gap: 10px;
  padding-left: 20px;
  overflow-x: scroll;
  background: #ebeff8;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: #{$laptop}) {
    display: block;
    padding: 20px 50px;
    /* text-align: center; */
  }
}

.category-list {
  list-style: none;
  padding: 20px 10px;
  border-radius: 12px;
  white-space: nowrap;

  .body-2 {
    padding-left: 20px;
  }
}

.link-list {
  background: transparent;
  /* display: flex; */
  color: #5679e7 !important;
  padding: 15px 20px;

  &.active {
    background: #{$primaryDefault};
    color: #fff !important;
    font-weight: 700;
    font-size: 14px;
    // padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}

// SIDEBAR END

// WORK

.work {
  /* width: 100%; */
  display: block;
  padding: 48px 0 0 48px;
  position: relative;
  margin-bottom: -10px;
  background: url("../images/hiring-bg.png") no-repeat center;
  background-size: cover;

  @media (min-width: #{$tablet}) {
    padding: 48px;
  }

  @media (min-width: #{$laptop}) {
    border-radius: 30px;
    padding: 58px;
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: #{$desktop}) {
    width: 50%;
  }
}

.work-title {
  position: relative;

  &::after {
    content: url("../images/Highlight_10.svg");
    /* margin-left: 10px; */
  }
}

.work-img {
  height: 100%;
  border-radius: 30px;

  @media (min-width: #{$tablet}) {
    position: absolute;
    inset: 0 0 0 auto;
  }
}

.work-left {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: #{$tablet}) {
    width: 50%;
  }
}

// WORK END

// BLOG CARD

.blog-head {
  display: flex;
  gap: 90px;
  margin: 40px 0 60px 0;
  flex-direction: column;

  @media (min-width: #{$laptop}) {
    flex-direction: row;
  }
}

.blog-card-wrap {
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog-top {
  position: relative;
  // display: flex;
  width: auto;
}

.tag-wrap {
  position: absolute;
  inset: 20px auto auto 30px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.blog-image {
  border-radius: 20px;
  /* margin-top: 40px; */
  height: 100%;
}

.blog-info {
  color: #fff;
  position: absolute;
  z-index: 2;
  inset: auto 0 0 0;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: space-between;

  & span,
  p {
    color: #fff;
  }
}

.comment {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

// BLOG CARD END

// BREADCRUMB

.bread {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 40px 0;

  span {
    color: #{$primaryPressed};
  }
}

// FOOTER

.footer-wrap {
  background: url("../images/footer-bg.png") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 2;

  @media (min-width: #{$laptop}) {
    margin-top: 100px;
  }
}

.footer-top {
  padding: 5% 0;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: #{$tablet}) {
    flex-direction: row;
  }
}

.footer-left {
  text-align: center;

  @media (min-width: #{$tablet}) {
    text-align: left;
  }
}

.brand-footer {
  // margin-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;

  p {
    display: inline-block;

    @media (min-width: #{$tablet}) {
      display: none;
    }
  }
}

.footer-info {
  display: none;

  @media (min-width: #{$tablet}) {
    display: block;
  }
}

.footer-right {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: #{$tablet}) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-menu {
  & > h6 {
    color: #fff;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;

  & > a {
    color: #fff !important;
    margin-bottom: 5px;
  }

  & > a:nth-of-type(1) {
    margin-top: 15px;
  }
}

.email {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.socmed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0fff2;
  padding-bottom: 20px;

  @media (min-width: #{$tablet}) {
    justify-content: unset;
  }
}

.socmed-link {
  border: 1px solid;
  border-image-source: linear-gradient(
      146.09deg,
      rgba(255, 255, 255, 0.6) 8.59%,
      rgba(255, 255, 255, 0.2) 46.93%,
      rgba(255, 255, 255, 0.7) 91.34%
    )
    1;
  border-radius: 50px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.footer-bottom {
  background: #{$primaryHover};
  padding: 10px 0;
}

.footer-bottom-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  @media (min-width: #{$tablet}) {
    flex-direction: row;
  }
}

.copyright {
  font-size: 0.85em;
}

.btm-links {
  display: flex;
  column-gap: 20px;
}

.text {
  font-weight: 500;
}

// FOOTER Product
.footer-product {
  width: 100%;

  @media (min-width: 1024px) {
    width: calc(100% - 375px);
    margin-left: 375px;
  }
}

// FOOTER END

// LOGIN MODAL

.login-container {
  display: none;
  place-content: center;
  position: fixed;
  z-index: 994;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.login-wrap {
  background: #fff;
  box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  max-width: 500px;
  height: fit-content;
  margin-top: 10%;
  position: relative;

  .input {
    width: 100%;
  }
}

.x-btn {
  position: absolute;
  inset: 48px 48px auto auto;
  border: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.check {
  display: flex;
  column-gap: 10px;
  align-items: center;

  & input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #6b7aff;
    /* border-image: linear-gradient(89.67deg, #5479E6 0.26%, #6B7AFF 99.71%) 1; */
    border-radius: 4px;
    appearance: none;

    &:checked {
      background-color: #6b7aff;
      color: #fff;
    }
  }
}

.password {
  display: flex;
  position: relative;

  & input {
    width: 100%;
  }
}

.eye-show {
  position: absolute;
  inset: 5px 10px auto auto;
}

.remember {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.how-do {
  margin-top: 40px;

  & h6 {
    color: var(--text-dark);
  }
}

// LOGIN MODAL END

// CHECKOUT MODAL

.checkout-wrap {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(14px);
  display: none;
  place-content: center;
  overflow: auto;
  z-index: 996;
}

.checkout-box {
  background: #fff;
  box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
  padding: 30px 85px;
  max-width: 70%;
  height: fit-content;
  margin-top: 20px;
  position: relative;
}

// .x-btn {
//   position: absolute;
//   inset: 48px 70px auto auto;
//   border: none;
//   background: transparent;
//   font-size: 1.2em;
// }

.checkout-content {
  display: flex;
  gap: 70px;
  margin: 20px 0 40px 0;
  flex-direction: column;

  @media (min-width: #{$laptop}) {
    flex-direction: row;
  }
}

.left {
  text-align: left;
}

.personal {
  display: flex;
  flex-direction: column;
}

.method {
  border: 2px solid rgba(208, 213, 223, 1);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.method-img {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.items {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.item-box {
  // background: #{$borderGradient};
  border-radius: 20px;
  border: 1px solid #dabcff;
  padding: 15px 50px;
  text-align: center;

  & img {
    margin: 25px 0 20px 0;
  }
}

table {
  margin-top: 20px;
  width: 100%;
}

tr {
  margin-bottom: 10px;
}

td {
  width: 35%;
}

.td-result {
  color: #{$primaryPressed};
}

.coupon {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  & input {
    margin-bottom: 0;
    width: 100%;
  }
}

.checks {
  margin: 20px 0;
}

.check {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
