@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");
.center {
  text-align: center;
}

.tag {
  padding: 3px 8px;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 19px;
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: Urbanist, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.tag.special {
  background: #ffa03e;
}

.tag.most {
  background: #6a49ee;
}

.tag.main {
  background: #e5fff6;
  color: #579f70;
}

.tag.hot {
  background: #ec6daf;
}

.dot {
  border: 1px dashed #5479e5;
  border-radius: 8px;
  background: linear-gradient(89.67deg, #5479e6 0.26%, #7094ea 99.71%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.blueText {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grey {
  color: #556b9b;
}

.heroTitle {
  font-size: 3em;
  line-height: 64px;
  font-weight: 800;
}

@media (min-width: 768px) {
  .heroTitle {
    font-size: 3.5em;
    line-height: 78px;
  }
}

.heading-1 {
  font-weight: 700;
  font-size: 1.875em;
  line-height: 64px;
}

.heading-2 {
  font-weight: 800;
  font-size: 2.375em;
  line-height: 53px;
  margin-bottom: 10px;
}

.heading-3 {
  font-weight: 700;
  font-size: 1.375em;
  line-height: 33px;
  margin-bottom: 10px;
}

.heading-4 {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 10px;
}

.heading-5 {
  font-weight: 500;
  font-size: 1em;
}

.heading-6 {
  font-weight: 700;
  font-size: 0.85em;
}

.heading-7 {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 19px;
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 2.875em;
    line-height: 42px;
  }
  .heading-1 {
    font-size: 1.5em;
    line-height: 33px;
  }
}

.body-1 {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 32px;
}

.body-2 {
  font-weight: 600;
  font-size: 0.85em;
}

.body-3 {
  font-weight: 500;
  font-size: 1em;
}

.body-4 {
  font-weight: 500;
  font-size: 0.875em;
}

.body-5 {
  font-weight: 400;
  font-size: 0.875em;
}

.text-decoration {
  position: relative;
}

.text-decoration-star::after {
  content: url("../images/Burst-pucker-2.svg");
  position: absolute;
  top: 10px;
  margin-left: 20px;
  z-index: -1;
}

.text-decoration-hero::after {
  content: url("../images/Highlight_10.svg");
  position: absolute;
  inset: 50% -10px auto auto;
  z-index: -1;
}

.text-decoration-review::after {
  content: url("../images/hl-review.svg");
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.text-decoration-about::after {
  content: url("../images/hl-review.svg");
  position: absolute;
  top: -50%;
  left: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .text-decoration-about::after {
    left: -60px;
  }
}

.text-decoration-hiring::after {
  content: url("../images/Highlight_10.svg");
  position: absolute;
  z-index: -1;
}

.text-decoration-right {
  right: 0;
}

button {
  font-family: inherit;
  background: none;
  border: none;
}

.btn {
  border-radius: 12px;
  padding: 16px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  line-height: 19px;
  font-family: Urbanist, sans-serif;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  position: relative;
  white-space: nowrap;
}

.btn-primary {
  color: #fff;
  border-radius: 12px;
  position: relative;
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
}

.btn-primary::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.btn-primary:hover {
  background: linear-gradient(89.67deg, #3d3ae8 0.26%, #664ff1 99.71%);
}

.btn-secondary {
  border-radius: 10px;
  /* padding: 1px; */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #5479e5;
  border: 1px solid #5479e5;
  background: transparent;
}

.btn-secondary:hover {
  background: #e0fff2;
}

.btn-wrap {
  margin-top: 30px;
  display: block;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.btn-mobo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .btn-mobo {
    width: auto;
  }
}

#heroHome {
  position: relative;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  margin-top: 100px;
}

@media (min-width: 1024px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-title-home {
  position: relative;
}

.hero-title-home::after {
  content: url("../images/Highlight_10.svg");
  position: absolute;
  inset: 30% -10% auto auto;
}

.hero-left {
  width: 100%;
}

@media (min-width: 1024px) {
  .hero-left {
    width: 50%;
  }
}

.hero-right {
  width: 100%;
  position: relative;
  inset: 0 0 auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-right .decor {
  position: absolute;
  max-width: 20%;
}

@media (min-width: 768px) {
  .hero-right .decor {
    max-width: 100%;
  }
}

.hero-right .decor.leftBtm {
  inset: auto auto 0 0;
}

.hero-right .decor.rightBtm {
  inset: auto 50px 0 auto;
}

.hero-right .decor.right {
  inset: auto 0 auto auto;
}

.hero-right .decor.leftTop {
  inset: -50px auto auto 0;
}

.hero-right .decor.rightBtw {
  z-index: -1;
  inset: auto 0 50px auto;
}

@media (min-width: 1024px) {
  .hero-right {
    inset: 0;
  }
}

#productTab {
  position: relative;
}

.filter-container {
  position: relative;
}

@media (min-width: 768px) {
  .filter-container {
    position: absolute;
    left: 0;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .filter-container {
    position: static;
    border-radius: 20px;
  }
}

.filter-container .filter-wrap {
  position: relative;
  background: #ebeff8;
  margin: 40px 0 60px 0;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  display: none;
}

.filter-container .filter-wrap::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .filter-container .filter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .filter-container .filter-wrap {
    position: static;
    border-radius: 20px;
  }
}

.filter-container .dropdown-body-large {
  width: 310px;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 130px;
  margin-right: 20px;
  z-index: 787;
  background: #fff;
  display: none;
}

@media (min-width: 1024px) {
  .filter-container .dropdown-body-large {
    margin-top: 90px;
  }
}

.filter-container .dropdown-body-large.open {
  display: block;
}

.filter-container .dropdown-body-large .dropdown-body-top {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  color: #fff;
  padding: 15px 20px;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.filter-container .dropdown-body-large li {
  padding: 15px 20px;
}

.filter-container .dropdown-body-large li:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid #d6e4ff;
}

.filter-container .dropdown-body-large li p {
  margin: 0;
}

.filter-games, .filter-dropdown {
  padding: 24px 50px;
  /* white-space: nowrap; */
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.15em;
  line-height: 32px;
  color: #6e7687;
  cursor: pointer;
}

.filter-games.active {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  font-weight: 700;
  color: #fff;
}

.filter-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#products {
  position: relative;
}

@media (min-width: 768px) {
  .product-content {
    padding-top: 180px;
  }
}

@media (min-width: 1024px) {
  .product-content {
    padding-top: unset;
  }
}

.product-title {
  position: relative;
}

.product-title::after {
  content: "";
  margin-left: 20px;
  position: relative;
}

.product-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin-top: 40px;
  display: none;
}

.product-box:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  .product-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 1536px) {
  .product-box {
    -webkit-column-gap: 90px;
            column-gap: 90px;
  }
}

.product-card, .product-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: space-between; */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  min-height: 400px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .product-card, .product-card-right {
    /* width: 600px; */
  }
}

.product-card {
  background: url("../images/card-home/card-bg.png") no-repeat center;
  background-size: cover;
}

.product-card-right {
  background: url("../images/card-home/card-bg-2.png") no-repeat center;
  background-size: cover;
}

.product-info {
  width: 100%;
  margin-top: auto;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .product-info {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .product-info {
    width: 50%;
  }
}

.product-list {
  color: #6e7687;
  position: relative;
}

.product-list::before {
  content: url("../images/icons/list-circle.svg");
  position: absolute;
  left: -15px;
  bottom: 3px;
}

.char {
  position: absolute;
  z-index: 1;
  inset: 0 10px 0 auto;
  margin-top: -30px;
  height: 203px;
  width: 180px;
}

@media (min-width: 768px) {
  .char {
    width: unset;
    height: unset;
  }
}

.list-wrap {
  margin: 5px 0;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  gap: 30px;
  margin-top: 40px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.col::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    overflow: unset;
  }
}

@media (min-width: 1024px) {
  .col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    overflow: unset;
  }
}

.card {
  position: relative;
  height: 510px;
  display: block;
}

@media (min-width: 1024px) {
  .card {
    height: 100%;
  }
}

.card::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 80, 171, 0)), color-stop(22.54%, rgba(46, 76, 164, 0.5)), to(#223879));
  background: linear-gradient(180deg, rgba(48, 80, 171, 0) 0%, rgba(46, 76, 164, 0.5) 22.54%, #223879 100%);
  position: absolute;
  inset: auto 0 0 0;
  height: 60%;
  border-radius: 20px;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .bg-image {
    position: relative;
  }
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  position: relative;
  white-space: nowrap;
  height: 100%;
}

@media (min-width: 1024px) {
  .card-info {
    position: absolute;
    inset: 0;
    height: unset;
  }
}

.card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
}

.list-wrap {
  margin: 5px 0;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.list {
  list-style: disc;
}

.list span {
  color: #fff;
}

.selected {
  background-color: #1979d3;
  color: ivory;
}

#what-is {
  background: url("../images/what-is-bg.svg") no-repeat center;
  background-size: contain;
  padding: 100px 0;
}

#what-is-title {
  position: relative;
  background: url("../images/what-is-title-bg.svg") no-repeat top;
  background-size: contain;
}

#what-is-title::before {
  content: url("../images/Burst-pucker-2-1.svg");
  position: absolute;
  left: -60px;
  bottom: -20px;
}

.info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .info-wrap {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.what-is-title {
  position: relative;
}

.what-is-title::before {
  content: url("");
  position: absolute;
  inset: -20px auto auto 20%;
}

.what-is-title::after {
  content: url("");
  position: absolute;
  inset: 0 15% auto auto;
}

.what-is-content {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* flex-wrap: wrap; */
}

@media (min-width: 1024px) {
  .what-is-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.wi-left {
  width: 100%;
}

@media (min-width: 1024px) {
  .wi-left {
    width: 50%;
  }
}

.review-title {
  position: relative;
}

.review-title::after {
  content: url("");
  position: absolute;
  inset: -15% auto auto 25%;
}

#review {
  background: url("../images/review-bg.png") no-repeat center;
  background-size: cover;
  padding: 80px;
  padding-inline: 40px;
  position: relative;
}

.rating {
  background: linear-gradient(104.22deg, #ebf3ff 8.44%, rgba(255, 255, 255, 0.2) 59.55%, #f4e6ff 103.63%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  padding: 20px 48px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 2px 3px 13px -8px #6c6c6c;
          box-shadow: 2px 3px 13px -8px #6c6c6c;
}

@media (min-width: 1024px) {
  .rating {
    padding: 20px 92px;
  }
}

.review-info {
  background: url("../images/numbers.png") no-repeat center;
  background-size: cover;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  color: #fff;
  row-gap: 10px;
  padding: 15px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .review-info {
    /* width: 70%; */
    /* width: unset; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 0;
  }
  .review-info > div {
    /* width: 230px; */
    /* padding: 0 20px !important; */
  }
  .review-info > div:nth-of-type(2) {
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.review-info > div {
  width: 200px;
  /* padding: 10px 50px; */
  text-align: center;
  display: inline-block;
  color: #fff;
}

@media (min-width: 768px) {
  .review-info > div {
    width: 233px;
  }
}

@media (min-width: 1280px) {
  .review-info > div {
    width: 333px;
  }
}

.review-info > div p {
  color: #fff;
}

.review-info > div:nth-of-type(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* border-left: 1px solid #fff;
      border-right: 1px solid #fff; */
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .blog-content {
    width: 50%;
  }
}

.blog-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  row-gap: 40px;
}

@media (min-width: 1024px) {
  .blog-card-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container {
  /* width: 80%; */
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.container-full {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .container-full {
    padding: unset;
  }
}

.container-fluid {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .container-fluid {
    padding: 0 40px !important;
  }
}

@media (min-width: 1024px) {
  .container-fluid {
    padding: 0 80px !important;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
}

.col-3 {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  padding-inline: 20px;
}

.col-3::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .col-3 {
    overflow: unset;
    display: -ms-grid;
    display: grid;
    row-gap: 60px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .col-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.column-cards {
  padding-inline: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.column-cards::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .column-cards {
    display: -ms-grid;
    display: grid;
    padding-inline: unset;
    overflow: unset;
    row-gap: 60px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .column-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1280px) {
  .column-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1536px) {
  .column-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .wrap {
    width: 60%;
  }
}

.text-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .text-wrap {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .text-wrap {
    width: 500px;
  }
}

#main-right {
  width: 100%;
  /* margin-top: 40px; */
}

@media (min-width: 1024px) {
  #main-right {
    width: calc(100% - 375px);
    margin-left: 375px;
  }
}

@media (min-width: 1280px) {
  .small-container {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .medium-container {
    width: 85%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  margin: 0;
  font-family: Urbanist, sans-serif;
  font-size: 1em;
  line-height: 27px;
  color: #3a445c;
  position: relative;
}

main {
  overflow: hidden;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  font-family: inherit;
}

.section {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .section {
    margin-top: 60px;
  }
}

@media (min-width: 1024px) {
  .section {
    margin-top: 100px;
  }
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 60px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.input {
  background: #ebeff8;
  border-radius: 6px;
  padding: 13px 16px;
  border: none;
  margin-bottom: 20px;
  font-size: 0.875em;
  font-family: inherit;
}

.input:focus {
  outline: none;
  border: none;
}

.reviewProd {
  width: auto !important;
}

@media (min-width: 1280px) {
  .reviewProd {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

.divider {
  background-color: #d0d5df;
  height: 1px;
  width: 100%;
  margin-top: 40px;
}

.hide {
  display: none;
}

@media (min-width: 1024px) {
  .hide {
    display: block;
  }
}

.w-auto {
  width: auto !important;
}

@media (min-width: 1536px) {
  .w-auto {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

input,
textarea,
select {
  font-size: inherit !important;
  font-family: inherit;
}

select {
  font-weight: 600;
  color: #3a445c;
}

textarea {
  resize: none;
}

.select-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.select-wrap-product {
  float: unset;
  margin-top: 40px;
}

.select-wrap-product .input {
  width: 100%;
}

.select-wrap::after {
  content: url("../images/icons/down-arrow.svg");
  right: 11px;
  top: 10px;
  position: absolute;
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rating-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rating-text .heading-7 {
  margin-bottom: 20px !important;
}

.rating-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  margin-bottom: 20px;
}

.decoration {
  position: absolute;
  top: -50%;
  left: 0;
  z-index: -1;
}

.navbar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width: 100%; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  inset: 0 0 auto 0;
  padding: 10px 0;
  background: #fff;
  -webkit-box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
  margin: 0;
  z-index: 992;
}

.menu-icon {
  display: block;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.nav {
  width: 100%;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* min-width: 85vw; */
}

@media (min-width: 768px) {
  .nav-wrap {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (min-width: 768px) {
  .nav-left {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (min-width: 1024px) {
  .nav-left {
    -webkit-column-gap: 90px;
            column-gap: 90px;
  }
}

.search-bar {
  background-color: #ebeff8;
  padding: 14px;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (min-width: 1024px) {
  .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
  }
  .search-bar input {
    width: 160px;
  }
}

input {
  background: transparent;
  border: none;
}

input::-webkit-input-placeholder {
  font-family: Urbanist, sans-serif;
}

input:-ms-input-placeholder {
  font-family: Urbanist, sans-serif;
}

input::-ms-input-placeholder {
  font-family: Urbanist, sans-serif;
}

input::placeholder {
  font-family: Urbanist, sans-serif;
}

input:focus {
  border: none;
  outline: none;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}

.nav-menu.active {
  left: 0;
  z-index: 999;
  bottom: 0;
  overflow: scroll;
}

@media (min-width: 768px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    left: unset;
    width: unset;
  }
}

.nav-item {
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.nav-item #modalBtn {
  color: #fff !important;
  padding: 0 !important;
  text-align: center;
}

.nav-item.current a {
  font-weight: 700;
}

.nav-item.current::before {
  content: "";
}

@media (min-width: 768px) {
  .nav-item.current::before {
    content: "";
    position: absolute;
    display: block;
    inset: -10px 0 auto 0;
    height: 4px;
    background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -ms-border-radius: 0px 0px 4px 4px;
    -o-border-radius: 0px 0px 4px 4px;
  }
}

.nav-item-header {
  background: url("../images/icons/header-mobo.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  color: #fff;
}

.nav-item-header h3 {
  margin: 0;
}

@media (min-width: 768px) {
  .nav-item-header {
    display: none;
  }
}

.nav-item > a {
  display: inline-block;
  line-height: 2em;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
  color: #3a445c;
  /* Use for semantic approach to style the current link */
}

.nav-item > a[aria-current="page"] {
  border-bottom-color: #fff;
}

.nav-item:first-of-type {
  margin-left: 0;
}

@media (min-width: 768px) {
  .nav-item {
    padding: 14px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .nav-item {
    padding: 20px;
  }
}

.profile-btn {
  display: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .profile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-order {
  display: none;
}

@media (min-width: 768px) {
  .btn-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-search {
  padding: 12px 32px;
}

.on-mobo {
  display: block;
}

.on-mobo .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .on-mobo {
    display: none;
  }
}

.on-tablet {
  display: none;
}

@media (min-width: 768px) {
  .on-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .on-tablet {
    display: none;
  }
}

.btn-navbar {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .btn-navbar {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.btn-navbar-login {
  margin-left: unset;
}

.login {
  display: none;
}

@media (min-width: 768px) {
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu {
  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.sidebar {
  width: 100%;
  display: inline-block;
  background: #ebeff8;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 375px;
    position: absolute;
    inset: 0 auto 0 0;
  }
}

.sidebar #dropdownSidebar {
  margin-top: 85px;
}

@media (min-width: 768px) {
  .sidebar #dropdownSidebar {
    display: block;
  }
}

.game-selection {
  background: url("../images/icons/header-mobo.png") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-top: 85px;
  padding: 20px 32px;
}

@media (min-width: 1024px) {
  .game-selection {
    padding: 20px 60px;
    margin-top: 95px;
  }
}

.game-left {
  color: #fff;
}

.game-left span {
  color: #fff !important;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-left: 20px;
  overflow-x: scroll;
  background: #ebeff8;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .categories {
    display: block;
    padding: 20px 50px;
    /* text-align: center; */
  }
}

.category-list {
  list-style: none;
  padding: 20px 10px;
  border-radius: 12px;
  white-space: nowrap;
}

.category-list .body-2 {
  padding-left: 20px;
}

.link-list {
  background: transparent;
  /* display: flex; */
  color: #5679e7 !important;
  padding: 15px 20px;
}

.link-list.active {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  color: #fff !important;
  font-weight: 700;
  font-size: 14px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.work {
  /* width: 100%; */
  display: block;
  padding: 48px 0 0 48px;
  position: relative;
  margin-bottom: -10px;
  background: url("../images/hiring-bg.png") no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  .work {
    padding: 48px;
  }
}

@media (min-width: 1024px) {
  .work {
    border-radius: 30px;
    padding: 58px;
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1536px) {
  .work {
    width: 50%;
  }
}

.work-title {
  position: relative;
}

.work-title::after {
  content: url("../images/Highlight_10.svg");
  /* margin-left: 10px; */
}

.work-img {
  height: 100%;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .work-img {
    position: absolute;
    inset: 0 0 0 auto;
    width: 430px;
  }
}

@media (min-width: 1024px) {
  .work-img {
    width: unset;
  }
}

.work-left {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .work-left {
    width: 50%;
  }
}

.blog-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  margin: 40px 0 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .blog-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.blog-card-wrap {
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog-top {
  position: relative;
  width: auto;
}

.tag-wrap {
  position: absolute;
  inset: 20px auto auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-image {
  border-radius: 20px;
  /* margin-top: 40px; */
  height: 100%;
}

.blog-info {
  color: #fff;
  position: absolute;
  z-index: 2;
  inset: auto 0 0 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-info span,
.blog-info p {
  color: #fff;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.bread {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 20px 0 40px 0;
}

.bread span {
  color: #3a67e8;
}

.footer-wrap {
  background: url("../images/footer-bg.png") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 2;
}

@media (min-width: 1024px) {
  .footer-wrap {
    margin-top: 100px;
  }
}

.footer-top {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-left {
  text-align: center;
}

@media (min-width: 768px) {
  .footer-left {
    text-align: left;
  }
}

.brand-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.brand-footer p {
  display: inline-block;
}

@media (min-width: 768px) {
  .brand-footer p {
    display: none;
  }
}

.brand-name {
  text-align: left;
}

.footer-info {
  display: none;
}

@media (min-width: 768px) {
  .footer-info {
    display: block;
  }
}

.footer-right {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .footer-right {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.footer-menu > h2 {
  font-weight: 700;
}

.footer-menu > h6 {
  color: #fff;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links > a {
  color: #fff !important;
  margin-bottom: 5px;
}

.footer-links > a:nth-of-type(1) {
  margin-top: 15px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  font-size: inherit;
  font-weight: 500;
}

.socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0fff2;
  padding-bottom: 20px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

@media (min-width: 768px) {
  .socmed {
    gap: 10px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.socmed-link {
  border: 1px solid;
  border-image-source: linear-gradient(146.09deg, rgba(255, 255, 255, 0.6) 8.59%, rgba(255, 255, 255, 0.2) 46.93%, rgba(255, 255, 255, 0.7) 91.34%) 1;
  border-radius: 50px;
  /* padding: 10px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .socmed-link {
    width: 32px;
    height: 32px;
  }
}

.footer-bottom {
  background: linear-gradient(89.67deg, #3d3ae8 0.26%, #664ff1 99.71%);
  padding: 10px 0;
}

.footer-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .footer-bottom-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.copyright {
  font-size: 0.85em;
}

.btm-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.text {
  font-weight: 500;
}

.footer-product {
  width: 100%;
}

@media (min-width: 1024px) {
  .footer-product {
    width: calc(100% - 375px);
    margin-left: 375px;
  }
}

.login-container {
  display: none;
  place-content: center;
  position: fixed;
  z-index: 994;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.login-wrap {
  background: #fff;
  -webkit-box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10%;
  position: relative;
  width: 90%;
}

@media (min-width: 768px) {
  .login-wrap {
    max-width: 500px;
    width: unset;
  }
}

.login-wrap .input {
  width: 100%;
}

.login-wrap .input:focus {
  outline: 1px solid #6b7aff !important;
}

.x-btn {
  position: absolute;
  inset: 48px 48px auto auto;
  border: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #6b7aff;
  /* border-image: linear-gradient(89.67deg, #5479E6 0.26%, #6B7AFF 99.71%) 1; */
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check input[type="checkbox"]:checked {
  background-color: #6b7aff;
  color: #fff;
}

.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.password input {
  width: 100%;
}

.eye-show {
  position: absolute;
  inset: 10px 10px auto auto;
}

.remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.how-do {
  margin-top: 40px;
}

.how-do h6 {
  color: var(--text-dark);
}

.checkout-wrap {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  display: none;
  place-content: center;
  overflow: auto;
  z-index: 1002;
}

.checkout-wrap .btn-purchase {
  display: none;
}

@media (min-width: 1024px) {
  .checkout-wrap .btn-purchase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.checkout-wrap .btn-bottom {
  padding: 30px;
  display: block;
}

@media (min-width: 768px) {
  .checkout-wrap .btn-bottom {
    padding: unset;
  }
}

.checkout-wrap .btn-bottom input {
  width: 100%;
}

.checkout-wrap .btn-bottom .coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .checkout-wrap .btn-bottom {
    display: none;
  }
}

.checkout-box {
  background: #fff;
  -webkit-box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: 100%;
}

.checkout-box .header {
  background: url("../images/icons/header-mobo.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 30px;
}

.checkout-box .header .x-btn {
  position: static;
}

@media (min-width: 768px) {
  .checkout-box .header {
    display: none;
  }
}

.checkout-box .heading-2,
.checkout-box button.x-btn {
  display: none;
}

@media (min-width: 768px) {
  .checkout-box .heading-2,
  .checkout-box button.x-btn {
    display: block;
  }
}

.checkout-box .coupon {
  display: none;
}

@media (min-width: 1024px) {
  .checkout-box .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .checkout-box {
    margin-top: 20px;
    border-radius: 30px;
    width: 80%;
    padding: 30px 85px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .checkout-box {
    margin-top: 20px;
    border-radius: 30px;
    max-width: 70%;
    padding: 30px 85px;
    width: unset;
  }
}

.checkout-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  margin: 20px 0 40px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 30px;
}

@media (min-width: 768px) {
  .checkout-content {
    padding: unset;
  }
}

@media (min-width: 1024px) {
  .checkout-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.left {
  text-align: left;
}

@media (min-width: 1024px) {
  .left {
    width: 50%;
  }
}

.left .items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .left .items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal input:focus {
  outline: 1px solid #6b7aff;
}

.method {
  border: 2px solid #d0d5df;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  color: #6e7687;
}

.method.active {
  border-color: #567ae6;
}

.method.active p {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.method-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-sum .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-sum .items .item-box {
  border-radius: 20px;
  border: 1px solid #dabcff;
  padding: 15px 50px;
  text-align: center;
}

.order-sum .items .item-box img {
  margin: 25px 0 20px 0;
}

table {
  margin-top: 20px;
  width: 100%;
}

tr {
  margin-bottom: 10px;
}

td {
  width: 35%;
}

.td-result {
  color: #3a67e8;
}

.coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.coupon input {
  margin-bottom: 0;
  width: 100%;
}

.checks {
  margin: 20px 0;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rank-up-mobo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  -webkit-box-shadow: 0px 4px 30px 0px #3232321a;
          box-shadow: 0px 4px 30px 0px #3232321a;
  background: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  overflow: scroll;
  z-index: 999;
}

@media (min-width: 768px) {
  .rank-up-mobo {
    width: unset;
    min-width: 300px;
  }
}

@media (min-width: 1024px) {
  .rank-up-mobo {
    position: fixed;
    z-index: 99;
    bottom: 0;
    margin-left: 24%;
  }
}

@media (min-width: 1280px) {
  .rank-up-mobo {
    bottom: unset;
    margin-left: 45%;
  }
}

@media (min-width: 1536px) {
  .rank-up-mobo {
    margin-left: 50%;
  }
}

.rank-up-mobo.active {
  left: 0;
}

.rank-up-mobo .header {
  background: url("../images/slider/bg-basket.png") no-repeat;
  background-size: cover;
  padding: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rank-up-mobo .basket-body {
  padding: 20px;
  background: url("../images/slider/rank-bg.svg") no-repeat bottom;
  background-size: cover;
}

.rank-up-mobo .bb-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebeff8;
}

.rank-up-mobo .bb-info h6 {
  color: #3a445c;
}

.rank-up-mobo .bb-title {
  margin-bottom: 6px;
  color: #3a67e8;
}

.rank-up-mobo .bb-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 150px;
}

#dropdown,
#dropdownSidebar {
  margin-top: 60px;
}

#dropdown .dropdown,
#dropdownSidebar .dropdown {
  position: relative;
}

#dropdown .dropdown-header,
#dropdownSidebar .dropdown-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/icons/header-mobo.png") no-repeat center;
  background-size: cover;
  padding: 20px 32px;
  color: #fff;
}

#dropdown .dropdown-body,
#dropdownSidebar .dropdown-body {
  width: 310px;
  border-radius: 20px;
  margin-top: 20px;
  position: absolute;
  right: 20px;
  z-index: 787;
  background: #fff;
  display: none;
}

#dropdown .dropdown-body.open,
#dropdownSidebar .dropdown-body.open {
  display: block;
}

#dropdown .dropdown-body::before,
#dropdownSidebar .dropdown-body::before {
  content: url("../images/icons/arrow-up-dropdown.svg");
  display: block;
  right: 10px;
  position: absolute;
  top: -15px;
  z-index: -1;
}

#dropdown .dropdown-body-top,
#dropdownSidebar .dropdown-body-top {
  background: linear-gradient(89.67deg, #5479e6 0.26%, #6b7aff 99.71%);
  color: #fff;
  padding: 15px 20px;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

#dropdown .dropdown-body li,
#dropdownSidebar .dropdown-body li {
  padding: 15px 20px;
}

#dropdown .dropdown-body li:not(:nth-last-of-type(1)),
#dropdownSidebar .dropdown-body li:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid #d6e4ff;
}

#dropdown .dropdown-body li p,
#dropdownSidebar .dropdown-body li p {
  margin: 0;
}

@media (min-width: 768px) {
  #dropdown,
  #dropdownSidebar {
    display: none;
  }
}

.select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 250px;
  height: 52px;
  font-weight: 600;
  color: #3a445c;
  font-size: 16px;
  cursor: pointer;
}

.select-container input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.select-container input:checked + label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 2;
  cursor: pointer;
  background: #ecf0f8;
  border-top: none;
  position: relative;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.select-container input:checked + label:after {
  content: url("../images/icons/down-arrow.svg");
  position: absolute;
  right: 15px;
  pointer-events: none;
  z-index: 3;
}

.select-container input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: "";
}

.option {
  padding: 0 16px;
  cursor: pointer;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top: 1px solid #ecf0f8;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
}

.option:hover {
  background: #ecf0f8;
}

.select-container:focus .option {
  position: relative;
  pointer-events: all;
}
/*# sourceMappingURL=main.css.map */